.video-player {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vw;
    box-sizing: border-box;
}

.video-player-icons ul {
    margin: 0;
    padding: 0.5vw 1.5vw;
    display: flex;
    column-gap: 1vw;
    list-style-type: none;
    background-color: darkgreen;
    border-radius: 10vw;
}

.icon {
    width: 2vw;
}

.video-player-input {
    width: 32vw;
    height: 5vh;
    font-size: 1.2vw;
    border: 0;
    border-radius: 2vw;
    padding-left: 1vw;
    outline: none;
}

.video-player-output {
    width: 50vw;
    height: 50vh;
    border: 5px solid;
    border-radius: 2vw;
    padding: 1vw;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player-output p {
    font-size: 3vw;
    background-color: cadetblue;
    padding: 1vw 2vw;
    border-radius: 10vw;
}